.contact
{

border : 1px solid #000;
padding : 10 px;
text-align: centrer;
background-color : blue;
color : white;
background-image : url("trees.jpg");


margin-top: 50px;
margin-bottom: 100px;
margin-right: 150px;
margin-left: 80px;
font-size: 28px;

}
.navbar_nav{

background-image : url("logo.png");
margin-top: 10px;
margin-bottom: 10px;
margin-right: 0px;
margin-left: 0px;
}

