<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MIDGARD</a>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'direct' %}">Direct</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vols' %}">Vols</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sitac' %}">SITAC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'meteo' %}">METEO</a>
        </li>
      </ul>
    </div>
  </nav>

