{% extends "pages/layouts/base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/style.css">
<h1>Contact</h1>
<div class="form-contact">
<form action="/your-name/" method="post">
    <label for="your_name">NOM: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
    <label for="surname"> PRENOM: </label>
    <input id="surname_id" type="surname" surname="surname" value="{{ surname }}">
    <input type="submit" value="OK">
    <label for="email">Courriel: </label>
    <input id="email_id" type="email" email="email" value="{{ email }}">
    <input type="submit" value="OK">
</form>
</div>
{% endblock %}
